#wrap {
    width:1200px;
}

.contents > .main-menu {
    width:200px;
    background-color:cornflowerblue;
}

.input-label {
    width:100px;
    text-align:right;
    margin-right:10px;
}

footer {
    height: 75px;
}